<nav>
    <ul>
        <li><a routerLink="/"><img src="../../../../assets/images/icons8-ballet-shoes-50.png" alt="zapatos de ballet"></a></li>
        <li><a routerLink="/dancers"><img src="../../../../assets/images/icons8-ballet-50.png" alt="bailarina"></a></li>
        <li><a routerLink="/choreographies"><img src="../../../../assets/images/icons8-cortina-de-teatro-48.png" alt="teatro"></a></li>
        <li><a routerLink="/about"><img src="../../../../assets/images/icons8-sobre-nosotros-mujer-48.png" alt="sobre nosotros"></a></li>
    </ul>
</nav>