.container_dance {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    padding: 40px;
    align-items: center;
}

.container_photo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imground {
    width: 200%;
    border-radius: 84px;
    max-width: 100%;
}

.text {
    margin: 10px;
}

.P {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media (max-width: 584px) { 
    .container_dance {
        text-align: center;
        flex-direction: column;
    }

    .container_photo {
        width: 100%;
    }
}
