.container_dance {
    display: flex;
    justify-content: space-around;
    padding: 10px 20px;
    padding: 40px;
    align-items: center;
}

.container_photo {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.imground {
    width: 200%;
    border-radius: 84px;
    max-width: 100%;
}

.text {
    margin: 10px;
}

@media (max-width: 584px) { 
    .container_dance {
        text-align: center;
        flex-direction: column;
    }

    .container_photo {
        width: 100%;
    }
}
/* img {
    width: 200px; height: 200px;
    max-width: 100%;
}



h1 {
    font-size: 25px;
    color: rgba(0, 21, 92, 0.938);
    font-family: cursive;
}

.P {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container_text {
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    justify-content: space-between  ;
}

body{
    background-color: #00bfa5;
}

.imgRedonda {
    width: 300px;
    height: 258px;
    border-radius: 84px;
    @media (min-width: 700px ) {}
}

.imgRedonda_one {
    width: 300px;
    height: 258px;
    border-radius: 104px;
}

.imgRedonda_two {
    width: 300px;
    height: 258px;
    border-radius: 77px;
}

.text {
    margin: 10px;
} */