<div class="container_dance">
    <div class="container_text">
        <img src="../../../../../assets/images/gallery/cenicientaUno.png" alt="cenicienta" class= "imgRedonda">
        
    </div>
    <div class="text">
        <h1>La Cenicienta</h1>
        <p>«Cenicienta»  es un  entretenido musical infantil . Tiene como hilo</p> 
        <p>conductor al  Hada Madrina y ella traerá al escenario diferentes princesas</p>
        <p>en un intento por ayudar a Cenicienta a encontrar  su zapatito de cristal.</p>

        <p>El objetivo fundamental de este espectáculo es promover entre los niñ@os</p> 
        <p>la ilusión y constancia por el trabajo.</p>
            
        <p>Guión original del equipo de Ópera. Realizado por Nova Dansa Ópera .</p>    
    </div>
</div>

<div class="container_dance">
    <div class="container_text">
        <img src="../../../../../assets/images/gallery/reyleon.png" alt="cenicienta" class= "imgRedonda_one">
        
    </div>
    <div class="text">
        <h1>El Rey León</h1>
        <p>Tras el asesinato de su padre, Simba, un joven león es</p> 
        <p>apartado de su reino y tendrá que descubrir con ayuda de</p>
        <p>amigos de la sabana africana el significado de la</p>
        <p>recuperar el control de su reino.</p>     
    </div>
</div>

<div class="container_dance">
    <div class="container_text">
        <img src="../../../../../assets/images/gallery/toyStory.png" alt="cenicienta" class= "imgRedonda_two">
        
    </div>
    <div class="text">
        <h1>Toy Story</h1>
        <p>Andy se va de campamento y deja solos a sus juguetes.</p> 
        <p>Entonces, Al McWhiggin, un compulsivo coleccionista de</p>
        <p>juguetes valiosos, encuentra a Woody y quiere quedárselo</p>
        <p>para su colección. Buzz Lightyear y los otros juguetes</p>   
        <p>deberán actuar con rapidez para rescatar a Woody.</p>  
        <p>Durante el rescate se enfrentarán a numerosos peligros y</p>
        <p>vivirán divertidas situaciones.</p>
    </div>
</div>