img {
    width: 226px; height: 250px;
    max-width: 100%;
}
.container_dance {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    padding: 40px; 
    align-items: center;   
}
h1 {
    font-size: 25px;
    color: rgba(0, 21, 92, 0.938);
}
.container_text {
    text-align: center;
    letter-spacing: 4px;
    display: flex;
    justify-content: space-between  ;
}

.imgRedonda {
    width: 300px;
    height: 300px;
    border-radius: 150px;
}

.text {
    margin: 10px;
}

.imgRedonda_One {
    width: 300px;
    height: 220px;
    border-radius: 150px;
}

.imgRedonda_Two {
    width: 300px;
    height: 220px;
    border-radius: 150px;
}