<div class="container_dance">
    <div class="container_text">
        <img src="../../../../../assets/images/gallery/TamaraRojo.jpg" alt="cenicienta" class= "imgRedonda">
        
    </div>
    <div class="text">
        <h1>Tamara Rojo</h1>
        <p>Tamara Rojo, es la directora de este proyecto ademas de ser una de las bailarinas.</p> 
        <p>Anteriormente fue bailairina del English National Ballet en Londres y del The Royal Ballet</p>
        <p>En enero de 2016 Tamara Rojo se doctoró 'cum loude' y tras unos meses en Rusia decidió </p>
        <p>dar el salto definitvo y dirigir este ilusionante proyecto, empezando en Madrid con parada</p>
        <p>en varias capitales del mundo.</p>
    </div>
</div>
<div class="container_dance">
    <div class="container_text">
        <img src="../../../../../assets/images/gallery/Margarita.jpg" alt="cenicienta" class= "imgRedonda_One">
        
    </div>
    <div class="text">
        <h1>Alicia </h1>
        <p>Alicia Ernestina de la Caridad del Cobre Martínez del Hoyo</p>
        <p>(La Habana, Cuba, 21 de diciembre de 1920-La Habana, 17 de octubre</p> 
        <p>2019),1​2​ más conocida como Alicia Alonso, es una bailarina profesional</p>
        <p>y coreógrafa cubana. Famosa por sus representaciones de Giselle y Carmen, </p>
        <p>además de otras grandes obras del repertorio clásico y romántico. Fue la figura cimera</p>
        <p>del ballet en Iberoamérica y uno de los grandes mitos de la danza.</p>     
    </div>
</div>

<div class="container_dance">
    <div class="container_text">
        <img src="../../../../../assets/images/gallery/AliciaAlonso.jpg" alt="cenicienta" class= "imgRedonda_Two">
        
    </div>
    <div class="text">
        <h1>Margarita</h1>
        <p>Polina Aleksándrovna Semiónova (Полина Александровна Семионова Moscú 1984),</p> 
        <p>es una bailarina rusa de ballet clásico.</p>
        <p>Está considerada como una Prima Ballerina, y es una de las más jóvenes</p>
        <p>en alcanzar ese tipo de reconocimiento. Desde septiembre de 2012</p>   
        <p>es "Principal Dancer" del American Ballet Theater de New York,</p>  
        <p>en donde debutó en 2011.</p>
    </div>
</div>