.container {
    display: flex;
    justify-content: space-between; 
}
.container-description {
    border: 2px solid black;
    padding: 10px 20px;
}

.title {
    text-align: center;
}

.container {
    color:black;
}
