.container {
    display: flex;
    justify-content: space-between; 
    border: 2px solid black;
    padding: 10px 20px;
    margin-top: 5px;
    margin-bottom: 5px;  
    margin-left: 10px;
    margin-right: 10px;
}

.container-description {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 50%;
    p {
        font-size: 30px;
        margin-top: 5px;
    }
}

.photo {
    max-width: 100%;
}

.title {
    text-align: center;
}

.container {
    color: black;
}

@media (max-width: 484px) {
    .container {
        flex-direction: column;
    }
    .container-description {
        width: 100%;
        p {
            font-size: 20px;
        }
    }
}
