<h2 class= "title">TE LEEMOS</h2>


<div class="text">
  <p>En <b>Gomsal</b> nos encanta que nos hables.</p> 
  <p>Así que contactad con nosotros si queréis</p>
  <p>vernos en alguna ciudad, para preguntar cualquier duda.</p>
  <p>hacernos llegar cualquier tipo de sugerencias.</p>
  <p>¡Nos ayudarás a mejorar!</p>
</div>

<form novalidate (ngSubmit)="onSubmit()" [formGroup]="contactForm">
<div class="formulario">

    <label for="name">Asunto:</label>
    <input class= "matter" type="text" id="name" formControlName="name" />

    <div *ngIf="!contactForm.get('name')?.valid &&
        (contactForm.get('name')?.dirty || submitted)">
      Es un campo requerido 
    </div>

    <label for="name">Nombre:</label>
    <input class= "name_name" type="text" id="name" formControlName="name" />

    <div *ngIf="!contactForm.get('name')?.valid &&
        (contactForm.get('name')?.dirty || submitted)">
      Has introducido mal tu nombre
    </div>

	


    <label for="email">Correo Electrónico:</label>
    <input class= "mail" type="email" id="email" formControlName="email" />

    <div *ngIf="!contactForm.get('email')?.valid &&
        (contactForm.get('email')?.dirty || submitted)">
      Has introducido mal tu correo electronico
    </div>



    <label for="Number">Nº Teléfono:</label>
    <input class= "phone" type="number" id="number" formControlName="number" />

    <div *ngIf="!contactForm.get('number')?.valid &&
        (contactForm.get('number')?.dirty || submitted)">
    </div>

 

    <label class= "message"for="commentary">Mensaje:</label>
    <input class= "comment" type="text" id="commentary" formControlName="commentary" />

    <div *ngIf="!contactForm.get('commentary')?.valid &&
        (contactForm.get('commentary')?.dirty || submitted)">
      No has introducido nada 
    </div>

  </div>
	<button class= "send" type="submit" [disabled]="!contactForm?.valid">Enviar</button>

</form>

<div class = "maps">

  <h2 class="title">Nos encontramos situados en el Centro de Ballet Nacional de España</h2>
<iframe class = "google_maps" width="300" height="400" id="gmap_canvas" src="https://maps.google.com/maps?q=Ballet%20Nacional%20de%20Espa%C3%B1a,%20Paseo%20de%20la%20Chopera,%20Madrid&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
</div>




<div class = "network">
  <li><a href="https://www.linkedin.com/in/kumpevela/"><img src="../../../../../../assets/images/icons8-linkedin-60.png" alt="instagram"></a></li> 
  <li><a href="https://github.com/kumpevela"><img src="../../../../../../assets/images/icons8-github-60.png" alt="github"></a></li>
  </div>