.comment {
    width: 50%;
    padding-top: 5px;
    padding-bottom: 50px;
    border: none;
}

.phone {
    border: none;
    padding-bottom: 5px;
    width:30%;
    margin-bottom: 10px;
}

.formulario {
    display: flex;
    flex-direction: column;
    margin: 10px;
}

.mail {
    border: none;
    width: 30%;
    margin-bottom: 10px;
}

.name_name {
    border: none;
    width: 30%;
    margin-bottom: 10px;
}

.matter {
    border: none;
    width: 30%;
    margin-bottom: 10px;
}

.send {
    margin-top: 20px;
    margin: 10px;
}

.body {
    margin: 5px;
}

.text {
    margin: 10px;
}

.h2 {
    margin: 10px;
}

.title {
    margin: 10px;
}

.li {
    margin-top: 200px;
    list-style: none;
    justify-content: space-around;
}

.network {
    justify-content: space-around;
    display: flex;
    margin-top: 300px;
    list-style: none;
}

.google_maps {
    margin: 10px;
    max-height: 900px;
    max-width: 80%;
}

.iframe {
    border-radius: 300px;
}

.maps {
    text-align: center;
}

.title {
    font-size: 20px;
}

@media (max-width: 200px) {
    .google_maps {
        max-width: 80%;
    }
}